<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Overall Rating</dt>
          <dd><%= @product.reviews.average(:rating) %></dd>
        </dl>

        <% if current_user %>
          <section class="create-review jumbotron">
            <h2>Create Review</h2>
            <%= form_for :review, url: product_reviews_path(@product.id), class: "form-group" do |form| %>
              <div>
                <h3>Description</h3>
                <%= form.text_area :description, class: "form-control" %>
              </div>
              <div>
                <h3>Rate</h3>
                <%= form.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: true, class: "form-control" %>
              </div>
              <div>
                <%= form.submit 'Add Review', class: "btn btn-primary" %>
              </div>
            <% end %>
          </section>
        <% end %>

        <section class="review-list">
          <h3>Product Reviews</h3>
          <%= render @reviews %>
        </section>
      </div>
    </div>

  </article>

</section>
